@model Website_DatPhong_TrucTuyen.Models.TabHomestay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout_Manager.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TabHomestay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenhomestay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenhomestay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slngayo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slngayo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachicuthe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachicuthe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tieude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giatien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienich1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienich1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienich2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienich2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienich3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienich3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienich4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienich4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienich5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienich5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noiquy5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noiquy5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDiadiemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDiadiemNavigation.IdDiadiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguoidungNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguoidungNavigation.IdNguoidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHomstay">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
