@model Website_DatPhong_TrucTuyen.Models.TabBaiviet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TabBaiviet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tieude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tieude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luotxem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luotxem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kiemduyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kiemduyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChudeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChudeNavigation.IdChude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNguoidungNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNguoidungNavigation.IdNguoidung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBaiviet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
