@model IEnumerable<Website_DatPhong_TrucTuyen.Models.TabDiemdenThamquan>

@{
    ViewData["Title"] = "TimKiem";
    Layout = "~/Views/Shared/Layou_Diemden_Thamquan.cshtml";
}

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate">
                    <form  asp-action="TimKiem" method="get" class="search-property-1">
                        <div class="row no-gutters">
                            <div class="col-md d-flex">
                                <div class="form-group p-4 border-0">
                                    <label for="#">Điểm đến</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-search"></span></div>
                                        <input type="text" name="Name" class="form-control" placeholder="Tìm địa điểm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md d-flex">
                                <div class="form-group p-4">
                                    <label for="#">Ngày nhận phòng</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-calendar"></span></div>
                                        <input type="text" class="form-control checkin_date" placeholder="Chọn ngày nhận">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md d-flex">
                                <div class="form-group p-4">
                                    <label for="#">Ngày trả phòng</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-calendar"></span></div>
                                        <input type="text" class="form-control checkout_date" placeholder="Chọn ngày trả">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md d-flex">
                                <div class="form-group p-4">
                                    <label for="#">Giá tiền</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">$100</option>
                                                <option value="">$10,000</option>
                                                <option value="">$50,000</option>
                                                <option value="">$100,000</option>
                                                <option value="">$200,000</option>
                                                <option value="">$300,000</option>
                                                <option value="">$400,000</option>
                                                <option value="">$500,000</option>
                                                <option value="">$600,000</option>
                                                <option value="">$700,000</option>
                                                <option value="">$800,000</option>
                                                <option value="">$900,000</option>
                                                <option value="">$1,000,000</option>
                                                <option value="">$2,000,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md d-flex">
                                <div class="form-group d-flex w-100 border-0">
                                    <div class="form-field w-100 align-items-center d-flex">
                                        <input type="submit" value="TÌM" class="align-self-stretch form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    
    <div class="container">
     
        <h3 style="padding-bottom:20px;font-weight:500"><a href="#">Các địa điểm phổ biến!</a></h3>
        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 ftco-animate">

                        <div class="project-wrap">

                            <a asp-action="Details" asp-route-id="@item.IdDiemdenThamquan" class="img" style="background-image: url(/Image2/@Html.DisplayFor(modelItem => item.Hinhanh));border-radius:15px;">
                                <span class="price">@item.Giatien.Value.ToString("#,##0")VNĐ/Người</span>


                            </a>

                            <div style="width:300px;height:310px;" class="text p-4">
                                <span class="days"> Tours @item.Slngayo ngày</span>
                                <h3><a href="#">@item.Tendiadiemthamquan</a></h3>
                             

                                <ul>
                                    <li>
                                        <i class="fa-sharp fa-solid fa-wifi text-secondary"></i>
                                        @item.Tienich1
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-solid fa-hard-drive text-warning"></i>
                                        @item.Tienich2
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-solid fa-kitchen-set text-success"></i>
                                        @item.Tienich
                                    </li>
                                </ul>
                                <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"><i class="fa-solid fa-calendar-days"></i> Cập nhật ngày:@item.Ngaycapnhat.Value.ToString("	M/d/yyyy")</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</section>


