@model List<TabDiemdenThamquan>
@if (Model != null && Model.Count > 0)
{
    <div class="float-end col-2">
        <a asp-action="Create" asp-controller="User_TabDiemdenThamquans" class="btn btn-outline-danger">Tạo bản tin</a>
    </div>
    <table class="table table-striped w-auto">

        <!--Table head-->
        <thead>
            <tr>
                <th>#</th>
                <th>Tên bài viết</th>
                <th>Nội dung</th>
                <th>Ngày đăng</th>
                <th>Số lượng người ở</th>
                <th>Giá tiền</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="table-info">
                <th scope="row">@item.IdDiemdenThamquan</th>
                <td>@item.Tendiadiemthamquan</td>
                <td>@item.Hinhphu4</td>
                <td>@item.Ngaydang</td>
                <td>@item.Slngayo</td>
                <td>@item.Giatien</td>
                <td>
                    <a class="btn btn-outline-success btn-icon-text" asp-controller="User_TabBaiviets" asp-action="Edit" asp-route-id="@item.IdDiemdenThamquan"> Cập nhật <i class="mdi mdi-file-check btn-icon-append"></i></a> |

                    <a class="btn btn-outline-danger btn-icon-text" asp-controller="User_TabBaiviets" asp-action="Delete" asp-route-id="@item.IdDiemdenThamquan">  <i class="mdi mdi-alert btn-icon-prepend"></i> Xóa</a>
                </td>
            </tr>
            }
        </tbody>
        <!--Table body-->


    </table>
    <!--Table-->
}
else
{
    <p>Chưa có địa điểm quan quan</p>
}
<!--Table-->
